table{
    width:85%;
    border:1px solid red;
    border-collapse:collapse;
}
th,td{
    border:1px solid blue;
    padding: 5px;
    font-family:Calibri;
}
.time{
    background-color:blueviolet;
    text-transform: uppercase;
    color:white;
}
.day{
    text-align:left;
}