.container{
    display:flex;
    flex-direction:row;
    /*justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;*/
    border: 7px solid black;
    height:44em;
    /*align-items: center;
    align-items: baseline;
    align-items: flex-end;*/
    /*flex-wrap: wrap;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-evenly;
    align-content: space-between;
    column-gap:1em;
    row-gap:1em;*/
}
.box{
    width:150px;
    height:150px;
    font-size:7em;
    text-align:center;
    border-radius: 15px;
}
#box1{
    background-color: red;
    /*align-self: center;
    align-self: end;
    align-self: start;
    order: 1;
    order: -1;*/
}
#box2{
    background-color:yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
}