.wrapper{
    width:50%;
    min-width:25%;
    height:80%;
    min-height: 50%;
    border:3px solid white;
    margin-top:5rem;
    margin-left:25%;
    box-shadow: 4px 4px 10px 2px;
}
.img{
    width:100%;
}
.text{
    margin-left:38%;
    margin-top:10vh;
}
